<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Launch Site</title>
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <header>
    <div class="logo-placeholder"><img src="../static/images/logo.png" style="width:100%"></div>
    <nav>
      <ul class="menu">
        <li><a href="./../views/facturacion">Factura electrónica</a></li>
        <li><a href="https://www.fahorro.com/me-quiero-bien">Nutrición y Deporte</a></li>
        <li><a href="https://www.fahorro.com/derma-mexico">Derma</a></li>
        <li><a href="https://www.fahorro.com/prevencion-y-control-diabetes">Diabetes</a></li>
        <li><a href="https://www.sat.gob.mx/personas/devoluciones-y-compensaciones">Sobre Nosotros</a></li>
        <li><a href="https://www.fahorro.com/ahorropagos">Otros trámites y servicios</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="../static/images/slide1.jpeg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img src="../static/images/slide2.jpeg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img src="../static/images/slide3.jpeg" style="width:100%">
      </div>
    </div>
    <br>
    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </main>
  <script src="../static/script.js"></script>
</body>
</html>