<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./../static/main.css">
</head>

<body>
    <main>
      <div id="menu">
          <div id="menu-items">
            <!-- I made these divs instead of links so you can click on mobile to view the effect -->
            <a id="source-link" class= "menu-item" href="./../views/facturacion">
              <span>Factura electrónica</span>
            </a>
            <a id="source-link" class= "menu-item" href="https://www.fahorro.com/me-quiero-bien" >
              <span>Nutrición y Deporte</span>
            </a> 
            <a id="source-link" class= "menu-item" href="https://www.fahorro.com/derma-mexico">
              <span>Derma</span>
            </a>
            <a id="source-link" class= "menu-item" href="https://www.fahorro.com/prevencion-y-control-diabetes">
              <span>Diabetes</span>
            </a>
            <a id="source-link" class= "menu-item" href="https://www.sat.gob.mx/personas/devoluciones-y-compensaciones">
                <span>Sobre Nosotros</span>
            </a>
            <a id="source-link" class= "menu-item" href="https://www.fahorro.com/ahorropagos">
                <span>Otros trámites y servicios</span>
            </a>
          </div>
          <div id="menu-background-pattern"></div>
          <div id="menu-background-image"></div>
        </div>
    </main>
  </body>
</html>